
/*____________________________________________________________
* Intro-Logo -> Slider 
*______________________________________________________________
*/

.intro-wrapper {
    width: 75% !important;
}
.intro-wrapper .intro-logo{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}
.intro-wrapper .intro-logo img{
    width: 150px;
}

@media (max-width: 991px) {
    .intro-wrapper{
        width: 95%;
    }
}

/*____________________________________________________________
* Intro-cover -> Slider 
*______________________________________________________________
*/

.intro-wrapper .intro-cover {
    position: relative;
    width: 100%;
}

.intro-wrapper .intro-cover::before,
.intro-wrapper .intro-cover::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 50%;
    height: calc(100% - 20px);
    background: red;
}

.intro-wrapper .intro-cover::before {
    left: 0;
}

.intro-wrapper .intro-cover::after {
    right: 0;
}



.intro-wrapper .intro-cover.active::before,
.intro-wrapper .intro-cover.active::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 50%;
    height: calc(100% - 20px);
    background: red;
    animation: bannerAnimation 4s forwards;
}

.intro-wrapper .intro-cover.active::before {
    left: 0;
    z-index: 99;
}

.intro-wrapper .intro-cover.active::after {
    right: 0;
    z-index: 99;
}



/* Animation to the ::before and ::after*/
@keyframes bannerAnimation {
    0% {
        width: 50%;
        background-color: red;
    }

    100% {
        width: 0;
        background-color: red;
    }
}

/*____________________________________________________________
* Intro-title -> Slider 
*______________________________________________________________
*/
.intro-wrapper .intro-title {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: red;
    padding: 15px 0;
    overflow: hidden;
    transition: all 2s;
    opacity: 0;
}

.intro-wrapper .intro-title.active {
    opacity: 1;
}

.intro-wrapper .intro-title.active::before,
.intro-wrapper .intro-title.active::after {
    content: '';
    position: absolute;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    top: 0;
    width: 0;
    height: 100%;
    animation: bannerAnimations 3s forwards;
}

.intro-wrapper .intro-title.active::before {
    left: 0;
}

.intro-wrapper .intro-title.active::after {
    right: 0;
}



/* Animation to the ::before and ::after*/
@keyframes bannerAnimations {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}
@media (max-width: 991px) {
    .intro-wrapper .intro-title {
        width: 90%;
    }
}
/*____________________________________________________________
* Intro-text -> Slider 
*______________________________________________________________
*/

.intro-text {
    text-align: center;
    overflow: hidden;
    padding: 2px;
    font-size: 30px;
    width: 60%;
    margin: 0 auto;
}

.intro-text span {
    display: inline-block;
    position: relative;
    padding: 36px 100px;
    color: red;
    margin-top: 15px;
}

.intro-text.active span:before,
.intro-text.active span:after {
    content: '';
    display: block;
    position: absolute;
    width: 999px;
    border-bottom: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
    height: 3px;
    top: 50%;
    margin-top: -3px;
    animation: botTitleAnimations 3s forwards;
}

.intro-text.active span:before {
    left: 100%;
}

.intro-text.active span:after {
    right: 100%;
}



/* Animation to the ::before and ::after*/
@keyframes botTitleAnimations {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}
.intro-text span h4 {
    font-size: 26px;
    position: absolute;
    text-align: center;
    left: 26px;
    animation: pulse 1500ms infinite;
}

@keyframes pulse {
    0% {
        top: 15px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 15px;
    }
}
@media (max-width: 991px) {
    .intro-text {
        width: 90%;
    }
    .intro-text span {
        padding: 30px 85px;
    }
    .intro-text span h4 {
        font-size: 20px;
    }
}

/*____________________________________________________________
* ScrollTrigger Effect -> Content Title
*______________________________________________________________
*/
.section-title .reveal {
    position: relative;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0s;

    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 10px;
    color: #EF1620;
}

.section-title .reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EF1620;
    transform-origin: right;
    transition: 2s;
    transition-delay: 0s;
}

.section-title .reveal.active {
    transform: scaleX(1);
    transition-delay: 0s;
}

.section-title .reveal:nth-child(2) {
    font-size: 15px;
    color: #848484;
}

.section-title .reveal:nth-child(2)::before {
    background: #EF1620;
}

.section-title .reveal.active::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

.section-title img {
    position: relative;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    max-width: 300px;
}