@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");

:root {
  --primary-color: #ff0000;
  --primary-color-hover: #d10000;
  --input-height: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content-wrapper {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
}
/*****************  

    Global Styles

******************/
.login-form h1 {
  font-weight: 300;
  color: #343434;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.login-form input[type="checkbox"] {
  margin-right: 1rem;
  transform: scale(1.5);
}

/*****************  

    Registration Form

******************/
.login-form {
  width: 550px;
  background: #fff;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0px 12px var(--primary-color);
  text-align: center;
  font-size: 14px;
}

.login-form .header{
  padding: 10px 20px;
}
.login-form .logo{
  height: 100px;
  background: rgb(228, 228, 228);
  width: 100%;
}
.login-form .logo img{
  height: 100%;
  padding: 10px;
}


.login-form .body {
  padding: 2rem 1rem;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.bar {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  border-top: 1px solid #ccc;
}

.bar::before {
  content: "welcome";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -53%);
  padding: 0 1rem;
  background-color: #fff;
}
.bar_personal {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  border-top: 1px solid #ff0000;
}
.bar_personal::before {
  content: "Personal Information";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -53%);
  padding: 0 1rem;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
}
.bar_academic {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  border-top: 1px solid #ff0000;
}
.bar_academic::before {
  content: "Academic Details";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -53%);
  padding: 0 1rem;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
}
.bar_business {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  border-top: 1px solid #ff0000;
}
.bar_business::before {
  content: "Business Information";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -53%);
  padding: 0 1rem;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
}
.bar_job {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  border-top: 1px solid #ff0000;
}
.bar_job::before {
  content: "Job Information";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -53%);
  padding: 0 1rem;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
}
.bar_student {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  border-top: 1px solid #ff0000;
}
.bar_student::before {
  content: "Student Information";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -53%);
  padding: 0 1rem;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
}
.bar_document {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  border-top: 1px solid #ff0000;
}
.bar_document::before {
  content: "Document";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -53%);
  padding: 0 1rem;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
}

/*****************  

    input elements

******************/

.input-group {
  position: relative;
  margin: 1rem 0;
  height: var(--input-height);
}

.input-group .input-elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 1.5rem;
  font-size: 16px;
  outline: none;
}

.input-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  padding: 0 0.5rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
  pointer-events: none;
}

.input-group .input-elem:focus {
  border: 2px solid var(--primary-color);
}

.input-group .input-elem:not(:placeholder-shown) + label {
  top: 0;
  background-color: #fff;
  color: rgb(90, 90, 90);
}

.input-group .input-elem:focus + label {
  top: 0;
  background-color: #fff;
  color: var(--primary-color);
}

.eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 1rem;
  color: #888;
  cursor: pointer;
}

.eye:hover {
  color: var(--primary-color);
}

.agreements {
  display: flex;
  align-items: center;
}

.reg_link {
  display: inline-block;
  color: var(--primary-color);
}

.btn-register{
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 0;
  padding: 4px 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.btn-register:hover{
  width: 100%;
  background-color: var(--primary-color-hover);
  color: #fff;
}
/*****************  

responsive design

******************/

@media screen and (max-width: 768px) {
  .login-form {
    width: 340px;
  }
}

/* ==========================================================================
   #Register From
   ========================================================================== */
   .wrapper {
    margin: 0 auto;
  }
  
  .wrapper--w960 {
    max-width: 960px;
  }
  
  .wrapper--w900 {
    max-width: 900px;
  }
  
  .wrapper--w790 {
    max-width: 790px;
  }
  
  .wrapper--w780 {
    max-width: 780px;
  }
  
  .wrapper--w680 {
    max-width: 680px;
  }
  
/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .title {
    padding: 0 15px;
  }
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-6 {
  background: transparent;
}

.card-6 .card-heading {
  background: transparent;
}

.card-6 .card-body {
  background: #fff;
  position: relative;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 30px 40px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.card-6 .card-body:before {
  bottom: 100%;
  left: 75px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
}

.card-6 .card-footer {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  padding: 50px 55px;
}

@media (max-width: 767px) {
  .card-6 .card-footer {
    padding: 50px 30px;
  }
}

/* ==========================================
   From 
   ======================================== */
.form-control {
  padding: 5px 10px !important;
  font-size: 16px !important;
  border-radius: 0 !important;
}

.form-label {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}
#btn-submit{
  border: none;
  border-radius: 0;
  padding: 10px 20px;
}

/*__________ DOCUMENT______________*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: linear-gradient(to top right, darkmagenta 0%, hotpink 100%);
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
}


.upload-file-cover {
  width: 100%;
  height: 260px;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgb(255 0 0 / 28%);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.upload-file-title {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #666;
	text-align: center;
}

.upload-file-title h1 {
	font-size: 16px;
	font-weight: 700;
	color: #666;
}

.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn-upload {
	display: block;
	width: 140px;
	height: 40px;
	background: darkmagenta;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 hotpink;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

.btn-upload:hover {
	background: rebeccapurple;
	box-shadow: 0 3px 0 0 deeppink;
}
